table {
  border-collapse: collapse;
  margin: $space-large 0;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

thead {
  line-height: $line-height-heading;
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

tr {
  border-bottom: $border-default;
}

th {
  font-weight: 600;
}

th,
td {
  padding: $space-small $space-small $space-small 0;
}
